@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
*{
    padding: 0%;
    margin: 0%;
    border: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}
.header{
    display: flex;
    background-color: var(--azulnegro);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo img{
    width:150px;
    height:50;
}
nav a{
    font-family: 'Marcellus', serif;
    color: var(--blanco);
    font-size:  1.0rem ;
    text-decoration: none;
    padding: 0 1rem;
}
.btn-azul{
    background-color: var(--azuloscuro);
    color: var(--blanco);
    padding: 0.5rem 1rem;
    font-family: 'Marcellus', serif;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}
#banner{
    background-image: url("../img/slide1.jpg");
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction:column-reverse;
}
#banner h2{
    background-color: rgba(0,0,0,0.3);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 0.7rem 1rem;
    font-family: 'Roboto', sans-serif;
}
#description{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}
.text-description{
    font-size: 1.5rem;
    flex-basis: 70%;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
}
.logo-description{
    flex-basis: 30%;
    padding: 2rem;
    text-align: center;
}
#feature{
    background-image: url("../img/bg-features.png");
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-position: 50% 50%;
}
 
#feature h2{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 2.5rem;
    text-shadow:3px 3px #000;
}
.feature-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}
.feature-box{
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 3px;
    color: var(--blanco);
    font-size: 3rem;
    margin: 2px;
}
.feature-box h3{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.box-blue{
    background-color: #00325eae;
}
.box-dark{
    background-color: rgba(0,0,0,0.59);
}
#ubicanos h1{
    text-align: center;
    font-size: 2.5rem;
    padding: 3rem 0rem 1rem 1rem;
    font-family: 'Marcellus', serif;
}
#ubicanos iframe{
    text-align: center;
    width: 1260px;
    height: 300px;
    padding: 0rem 1rem;
}
#ubicanos p{
    text-align: center;
    font-size: 2.5rem;
    padding: 1.5rem 2rem;
}
.linea {
    border-bottom: solid 2px #157A8A;
    max-width: 1050px;
    margin: 10px auto 0 auto
}
#opiniones{
    background:linear-gradient(rgb(39, 37, 37) 50%,#FFFEFC 50%);
    color: #FFFEFC;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}
.opiniones-box{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.opiniones-fondo{
    background:linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
    text-align:left;
    padding: 2rem 2rem;
    border-radius: 3px;
    color: var(--blanco);
    font-size: 0.7rem;
    margin: 2px;
    width: 365px;
    height: 190px;
}
.Cabecero-opiniones{
    display: flex;  
}
.fa-regular{
    color: #9C2759;
}
.Cabecero-opiniones img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    flex-basis:20%;
}
.Cabecero-opiniones h4{
    flex-basis: 80%;
    text-align:left;
    font-size: 1rem;
    padding: 0rem 0rem 0rem 2rem;
}
footer{
    background-image: url(../img/vector-comentarios.svg);
    display: flex;
    justify-content: space-between;
    color: #FFFEFC;
    padding: 2rem;
}
.footer-primario{
    flex-basis: 40%;
    padding: 1.5rem;
    text-align: left;
}
.imagenes-logos{
    display: flex;
    text-align: left;
    justify-content: space-around;
}
.footer-secundario{
    flex-basis: 40%;
    font-size: 1rem;
    padding: 1.5rem;
    text-align: left;

}
.footer-terciario{
    flex-basis: 20%;
    padding: 1.5rem;
    text-align: left;
}